* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

body{
    overflow: hidden;
    -webkit-user-select: none; /*webkit浏览器*/ 
    user-select: none; 
}

#wrapper {
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes runningGirl {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@-webkit-keyframes runningGirl {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes shakingGirl {
    from {
        bottom: 5.08rem;
    }
    to {
        bottom: 4.9rem;
    }
}

@-webkit-keyframes shakingGirl {
    from {
        bottom: 5.08rem;
    }
    to {
        bottom: 4.9rem;
    }
}
@keyframes vote {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -.5rem;
        opacity: 0;
    }
}
@-webkit-keyframes vote {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -.5rem;
        opacity: 0;
    }
}
.page {
    width: 100%;
    /*position: absolute;*/
}

.page2{
    position: absolute;
    top: 0;
    left: 0;
}
.page1, .page2{
    height: 100%;
}

.page1 {
    opacity: 0;
    background: url("./img/bg1.png") no-repeat;
    background-size: 100% 100%;
    -webkit-animation: fadeOut ease 2s;
    animation: fadeOut ease 2s;
    overflow: hidden;
    position: absolute;
}



.outer {
    -webkit-animation: fadeIn 2s ease 2s both;
    animation: fadeIn 2s ease 2s both;
    overflow: hidden;
}

.kids {
    width: 5.952rem;
    height: 4.16rem;
    background: url("http://p4.qhimg.com/t01b9e1e072c0394df7.png") no-repeat;
    background-size: 100% 100%;
}

.page1 .kids {
    position: fixed;
    left: 50%;
    bottom: 2rem;
    margin-left: -4rem;
    -webkit-animation: runningGirl ease 3s;
    animation: runningGirl ease 3s;
}

.page2{
    background: url(./img/bg2.png) no-repeat;
    background-size: 100% 100%;
}
.page2 .kids {
    position: absolute;
    bottom: 5.037rem;
    left: 30%;
    -webkit-animation: shakingGirl .1s ease-in .2s infinite alternate;
    animation: shakingGirl .1s ease-in .2s infinite alternate;
}

.page2 .backward {
    display: block;
    width: 1rem;
    height: 2rem;
    background: url(http://p9.qhimg.com/t01b237f40946c339df.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 1.259rem;
    left: 50%;
    margin-left: -.5rem;
}

.anim {
    -webkit-transition: all 800ms ease-out 0s;
    transition: all 800ms ease-out 0s;
}


.page3 .bg-img,
.page2 img {
    width: 100%;
}

.follow {
    width: 3rem;
    height: 2rem;
}

.page3 {
    width: 100%;
    /*top: 100%;*/
    position: relative;
}

.page3 .city-popup {
    width: 100%;
    position: absolute;
    top: 25.885rem;
}

.page3 .city-icon {
    /*position: absolute;*/
    height: 2rem;
}
.page3 .city{
    position: absolute;
}
.zjk{
    left: 4.083rem;
}
.popup{
    position: absolute;
    display: none;
}
.zjk-pop{
    left: -2.07rem;
    width: 9.6rem;
    top: -7.83rem;
}
.zy{
    left: 9.216rem;
}
.zy-pop{
    width: 11.435rem;
    left: -5.824rem;
    top: -6.5rem;
}
.ts{
    left: 1.968rem;
    top: 4.8rem;
}
.ts-pop{
    width: 9.685rem;
    left: -1.557rem;
    top: -6.623rem;
}
.yc{
    left: 6.8rem;
    top: 5rem;
}
.yc-pop{
    width: 9.77rem;
    left: -4.7rem;
    top: -7.2rem;
}
.kkth{
    left: 11.6rem;
    top: 4.85rem;
}
.kkth-pop{
    width: 11.179rem;
    left: -7.509rem;
    top: -7.5rem;
}
.wlmq{
    left: 3.5rem;
    top: 10rem;
}
.wlmq-pop{
    width: 7.168rem;
    left: -1.58rem;
    top: -8rem;
}
.kksl{
    left: 9.6rem;
    top: 10rem;
}
.kksl-pop{
    width: 10.24rem;
    left: -5.227rem;
    top: -8.5rem;
}
.kns{
    left: 1.6rem;
    top: 13.8rem;
}
.kns-pop{
    width: 10.581rem;
    left: -0.945rem;
    top: -8rem;
}
.klmy{
    left: 6rem;
    top: 14rem;
}
.klmy-pop{
    width: 11.584rem;
    left: -3.5rem;
    top: -8.339rem;
}
.sw{
    left: 12.6rem;
    top: 14.2rem;
}
.sw-pop{
    width: 10.09rem;
    left: -7.161rem;
    top: -7.5rem;
}
.tklmg{
    left: 3.2rem;
    top: 19.5rem;
}
.tklmg-pop{
    width: 10.88rem;
    left: -1.771rem;
    top: -8.083rem;
}
.xzx{
    left: 9rem;
    top: 19.6rem;
}
.xzx-pop{
    width: 9.173rem;
    left: -3.84rem;
    top: -11rem;
}
.page3 .pop {
    width: 16rem;
}

.other-city{
    position: absolute;
    top: 53.419rem;
    width: 100%;
    height: 13.483rem;
    border: 0;
}
.other-city .tips{
    position: absolute;
    left: 46%;

}
.js-vote-city{
    position: absolute;
    border: 0;
}
.votes{
    position: absolute;
    display: block;
    font-size: 0.597rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    bottom: 20%;
}
.other-city .km{
    width: 3.499rem;
    height: 3.499rem;
    background: url('./img/km.png') no-repeat;
    background-size: 100% 100%;
    left: 2.069rem;
}
.other-city  .lj{
    width: 4.032rem;
    height: 4.032rem;
    background: url('./img/lj.png') no-repeat;
    background-size: 100% 100%;
    top: 2.027rem;
    left: 5.547rem;
}
.other-city  .dl{
    width: 3.477rem;
    height: 3.477rem;
    background: url('./img/dl.png') no-repeat;
    background-size: 100% 100%;
    top: 0.597rem;
    left: 10.005rem;
}
.other-city  .gz{
    width: 3.093rem;
    height: 3.093rem;
    background: url('./img/gz.png') no-repeat;
    background-size: 100% 100%;
    top: 4.203rem;
    left: 1.643rem;
}
.other-city  .gl{
    width: 3.499rem;
    height: 3.499rem;
    background: url('./img/gl.png') no-repeat;
    background-size: 100% 100%;
    top: 6.955rem;
    left: 4.693rem;
}
.other-city  .qd{
    width: 2.816rem;
    height: 2.816rem;
    background: url('./img/qd.png') no-repeat;
    background-size: 100% 100%;
    top: 6.187rem;
    left: 8.747rem;
}
.other-city  .sh{
    width: 3.712rem;
    height: 3.712rem;
    background: url('./img/sh.png') no-repeat;
    background-size: 100% 100%;
    top: 4.245rem;
    left: 11.669rem;
}
.other-city  .xm{
    width: 2.88rem;
    height: 2.88rem;
    background: url('./img/xm.png') no-repeat;
    background-size: 100% 100%;
    top: 10.325rem;
    left: 2.283rem;
}
.other-city  .hz{
    width: 3.797rem;
    height: 3.797rem;
    background: url('./img/hz.png') no-repeat;
    background-size: 100% 100%;
    top: 9.6rem;
    left: 9.257rem;
}

.vote-result{
    display: block;
    width: 1.451rem;
    font-weight: bold;
    font-size: 0.704rem;
    position: absolute;
    left: 80%;
    -webkit-animation: vote 2s linear  both;
    animation: vote 2s linear  both;
    z-index: 10;
}

.km-vote{
    color: #ff4e00;
}
.lj-vote{
    color: #ff4e4e;
}
.dl-vote{
    color: #89db28;
}
.gz-vote{
    color: #ffd800;
}
.gl-vote{
    color: #13cfdf;
}
.qd-vote{
    color: #67c0ff;
}
.sh-vote{
    color: #eb9fe8;
}
.xm-vote{
    color: #f55cab;
}
.hz-vote{
    color: #ff8400;
}
.btn{
    width: 3.2rem;
    height: 1.387rem;
    outline: none;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 1.898rem;
    margin-left: -1.6rem;
}
.follow-btn{
    background: url('./img/follow.png') no-repeat;
    background-size: 100% 100%;
}
.not-follow{
    background: url('./img/focusOff.png') no-repeat;
    background-size: 100% 100%;
}

